
#first{
	background-color: green;
	height: 450px;
}
.push{
	margin-top: 100px;
}
#first{
	background-color: #9bcb8d;
	margin-top: -40px;
}
#second{
	margin-top: 150px;
}
#third{
	margin-top: 50px;
}
#sex{
	padding: 100px;
	margin-top: -30px;
}
#boots{
	padding: 100px;
	margin-top: -200px;
}
a{
	color:white;
}
#foot{
	background-color:#d9534f;
	height: 70px;
	margin-top: -70px;
}
a:hover{
	text-decoration: none;
	color: #9bcb8d;
}
#head{
	width: 1000px;
}
#abdul{
	margin-top: -25px;
	height: 10px;
	color: white;
	text-align: center;;
}
#big{
	font-size: 40px;
}
 ==========================================================================
   Author's custom styles
   ========================================================================== */

















